// colour

$colour-primary:#777;
$colour-primaryred:#d56f6faf;
$colour-primaryblue:#286cb4a1;
$colour-primarywhite:#ffff;
$colour-primaryblack:#000000af;
$colour-grey-light-1:#f7f7f7;
$colour-primary-light:rgb(255, 149, 149);
$colour-primary-mediam:rgb(255, 100, 100);
$colour-primary-dark:rgb(255, 52, 52);
$colour-primary-orange-light:#ffb900;
$colour-primary-orange-dark:#ff7730;
$colour-primary-green-light:#9affbc;
$colour-primary-green-dark:#00ffaa;

//  grids
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-vertical-small:6rem;
$gutter-horizontal:6rem;