.header{
    height: 95vh;
    background-image:linear-gradient(to right bottom,$colour-primaryred,$colour-primaryblue ),url(../img/R92f15206673a98da8465eb1831e521e5.png) ;
    background-size: cover;
    background-position: top;
    position: relative;
clip-path: polygon(0 0,100% 0,100% 75vh,0 100%);
-webkit-clip-path: polygon(0 0,100% 0,100% 75vh,0 100%);
}
@include respond(phone){
    clip-path: polygon(0 0,100% 0,100% 85vh,0 100%);
-webkit-clip-path: polygon(0 0,100% 0,100% 85vh,0 100%);
}
.logo-box{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 10rem;
}
.text-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50% ,-50%);
    text-align: center;
}